
.meiosis, .meiosis-parent
  position: relative
  border: 1px solid lightgrey
  width: 320px
  height: 320px
  .cell
    width: 320px
    height: 324px

.controls
  margin-top: 10px
  .buttons
    display: inline-block
  .scrub
    width: 145px
    display: inline-block
    margin-left: 15px
    position: relative
    top: -4px
    .ui-slider-handle
      width: 6px
      margin-left: -3px
