@import 'mixins.styl'

.chromosome
  position: relative
  &.A
    float: left
    clear: both
  &.B
    float: left
    margin-left: 80px
  .chromosome-label
    font-weight: bold
  select
    display: block
    position: absolute
    left: 50px
    top: 0
    &.horns
      top: 25px
    &.scales
      top: 50px

    &.wings
      top: 25px
    &.legs
      top: 50px
    &.tail
      top: 75px

    &.plates
      top: 25px
    &.fire
      top: 50px
    &.color1
      top: 75px
    &.color2
      top: 100px
